.btn-container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 2rem
}
.btn {
    padding: 0.5rem 0.8rem;
    background: white;
    color: #000;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 2px solid black;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.4s linear;
}

.btn:hover {
    background: black;
    color: white;
    border: 2px solid white;
}

.home-btn a{
    text-decoration: none;
    color: inherit; 
}