/* Google Fonts utilized in this style */
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&family=Permanent+Marker&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");
/* Default browser override */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
/* Black background for parent */
body {
  background: linear-gradient(
    rgba(255, 255, 255, 1),
    rgb(250, 248, 248),
    rgb(148, 148, 150)
  );
}
/* Fixed NavBar with Links */
div.navbar {
  background: #044343;
  min-height: 3.5%;
  width: 100%;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: +2;
}
/* Navbar Links List */
li {
  border-left: 0.1rem solid #e4e4e4;
  float: left;
  display: inline;
  margin-block-start: auto;
  padding: 0.5rem;
}
/* Links in Navbar */
a {
  color: #e4e4e4;
  text-decoration: none;
  font-size: 150%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
  background: rgb(0, 0, 0);
  border: 0.1rem solid black;
  border-radius: 8%;
  color: white;
}
/* Header fixed photo */
div.headerPhoto {
  min-height: 65vh;
  color: #e4e4e4;
  outline: 0.2rem solid #044343;
  outline-offset: +5px;
}
/* Large Anvil on page */
.headerPhoto {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.05)),
    url(./images/anvilPexels.jpg) center bottom/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  letter-spacing: 2px;
}
.profileBike {
  width: 30vw;
  margin: 100px auto;
  position: relative;
}
.profileBike::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0.3rem solid #044343;
  box-sizing: border-box;
  top: -40px;
  left: -40px;
  z-index: -2;
  transition: all 0.3s linear;
}
.profileBike::after {
  content: "";
  background: linear-gradient(#0443437a, rgba(34, 34, 34, 0.644));
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  left: -20px;
  z-index: -1;
  transition: all 0.3s linear;
}
.profileBike:hover::after,
.profileBike:hover::before {
  top: 0;
  left: 0;
}
img {
  width: 100%;
  display: block;
}
